.d-flex {
    display: flex;



    &.wrap {
        flex-wrap: wrap;
    }

    &.nowrap {
        flex-wrap: nowrap;
    }

    & .v-center {
        margin: auto 0;
    }
    & .h-end {
        margin-left: auto;
        margin-right: 0;
    }
}


