.modal__content_partnership__bttn_cancel {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0848C0;

    background: none;
    border: none;

    transition: 250ms;
}

.modal__content_partnership__bttn_cancel:hover {
    text-decoration: underline;
}