@import './__container/form__field-img__container.scss';
@import './__input-img/form__field-img__input-img.scss';
@import './__label/form__field-img__label.scss';


.form__field-img {
    margin-top: 32px;
    padding-top: 8px;
    height: 200px;
}