@import './__bttn/modal__content_partnership__bttn.scss';

.modal__content_partnership {
    min-width: 300px;
    max-width: 754px;
    min-height: 300px;
    height: fit-content;

    background-color: white;

    padding: 53px 98px;
}