.form__field-img__container__bttn-close {
    position: absolute;
    right: 2px;
    top: 9px;
    background-color: white;
    cursor: pointer;
}

.form__field-img__container__bttn-close:hover {
    
    background-color: rgb(229, 229, 229);
}