@import './_required/form__filed__label_required.scss';


.form__field__label {
    display: block;

    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #6A6E72;
}