.input__icon {
    padding-right: 25px;
    background-size: 18px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
}

.input__icon_web {
    background-image: url("../../assets/icons/ic_web_48.svg");
}

.input__icon_vk {
    background-image: url("../../assets/icons/ic_vk.svg");
}

.input__icon_ok {
    background-image: url("../../assets/icons/ic_ok.svg");
}

.input__icon_f {
    background-image: url("../../assets/icons/ic_f.svg");
}

.input__icon_insta {
    background-image: url("../../assets/icons/ic_insta.svg");
}

.input__icon_ytube {
    background-image: url("../../assets/icons/ic_ytube.svg");
}